@import "../../app.scss";

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  pointer-events: none; // Ensures that the cursor doesn't interfere with elements
  transform: translate(-50%, -50%); // Centers the custom cursor relative to the actual mouse position

  @include mobile {
    display: none;
  }
}
